USE [EstateCoreDB]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 5/20/2026 8:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsUrgent] [bit] NULL,
	[PostedBy] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Billings]    Script Date: 5/20/2026 8:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[BillingNumber]  AS ('BIL-'+CONVERT([varchar](10),[Id])),
	[Type] [varchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[TenantId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 5/20/2026 8:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[FacilityName] [nvarchar](100) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[TenantId] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 5/20/2026 8:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Role] [varchar](20) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[LastLogin] [datetime] NULL,
	[OrganizationId] [int] NULL,
	[ProfilePicture] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceRequests]    Script Date: 5/20/2026 8:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ResolvedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 5/20/2026 8:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[OrganizationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[PlanType] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[Deadline] [datetime] NULL,
	[MaxResidents] [int] NULL,
	[MaxStaff] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanUpgradeRequests]    Script Date: 5/20/2026 8:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanUpgradeRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[CurrentPlan] [nvarchar](50) NOT NULL,
	[RequestedPlan] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RequestedAt] [datetime] NOT NULL,
	[ProcessedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 5/20/2026 8:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PromoCode] [nvarchar](50) NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 5/20/2026 8:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[TenantId] [int] NOT NULL,
	[FacilityName] [nvarchar](100) NOT NULL,
	[ReservationDate] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemReports]    Script Date: 5/20/2026 8:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemReports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[ReportName] [nvarchar](200) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemUpdates]    Script Date: 5/20/2026 8:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUpdates](
	[PlanType] [varchar](20) NOT NULL,
	[ModuleName] [varchar](50) NOT NULL,
	[IsEnabled] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanType] ASC,
	[ModuleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenants]    Script Date: 5/20/2026 8:28:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[UnitNumber] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[Password] [nvarchar](100) NULL,
	[ProfilePicture] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Announcements] ON 

INSERT [dbo].[Announcements] ([Id], [OrganizationId], [Title], [Message], [IsUrgent], [PostedBy], [CreatedAt]) VALUES (4, 12, N'Pool Maintenance', N'Pool Leak', 1, N'skyline Admin', CAST(N'2026-05-11T14:47:30.160' AS DateTime))
INSERT [dbo].[Announcements] ([Id], [OrganizationId], [Title], [Message], [IsUrgent], [PostedBy], [CreatedAt]) VALUES (5, 12, N'Buffet', N'Buffet on the Ground Floor ', 0, N'skyline Admin', CAST(N'2026-05-11T15:04:09.190' AS DateTime))
SET IDENTITY_INSERT [dbo].[Announcements] OFF
GO
SET IDENTITY_INSERT [dbo].[Billings] ON 

INSERT [dbo].[Billings] ([Id], [OrganizationId], [Type], [Amount], [DueDate], [Status], [CreatedAt], [TenantId]) VALUES (2, 12, N'Rent', CAST(2500.00 AS Decimal(18, 2)), CAST(N'2026-05-18T14:17:17.337' AS DateTime), N'PAID', CAST(N'2026-05-11T14:17:28.973' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Billings] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([Id], [OrganizationId], [FacilityName], [Rating], [Comments], [TenantId], [CreatedAt]) VALUES (2, 12, N'Guestroom', 5, N'Good Room', 2, CAST(N'2026-05-11T16:51:35.417' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([Id], [Username], [Password], [FullName], [Email], [Phone], [Role], [IsActive], [CreatedAt], [LastLogin], [OrganizationId], [ProfilePicture]) VALUES (1, N'superadmin', N'superadmin123', N'System SuperAdmin', N'admin@estatecore.com', NULL, N'SuperAdmin', 1, CAST(N'2026-05-10T03:05:36.970' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Login] ([Id], [Username], [Password], [FullName], [Email], [Phone], [Role], [IsActive], [CreatedAt], [LastLogin], [OrganizationId], [ProfilePicture]) VALUES (8, N'skylineadmin', N'admin123', N'skyline Admin', N'skyline@@estatecore.com', NULL, N'Admin', 1, CAST(N'2026-05-11T13:26:07.547' AS DateTime), NULL, 12, NULL)
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[MaintenanceRequests] ON 

INSERT [dbo].[MaintenanceRequests] ([Id], [OrganizationId], [TenantId], [Title], [Description], [Priority], [Status], [CreatedAt], [ResolvedAt]) VALUES (3, 12, 2, N'Gas Leak', N'Gas Leak on my Room', N'HIGH', N'PENDING', CAST(N'2026-05-11T16:40:40.180' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[MaintenanceRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Organizations] ON 

INSERT [dbo].[Organizations] ([OrganizationId], [Name], [PlanType], [Status], [Deadline], [MaxResidents], [MaxStaff], [CreatedAt]) VALUES (12, N'skyline', N'FREE', N'ACTIVE', CAST(N'2027-05-11T13:25:57.143' AS DateTime), 50, 5, CAST(N'2026-05-11T13:26:07.537' AS DateTime))
SET IDENTITY_INSERT [dbo].[Organizations] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([Id], [OrganizationId], [Title], [Description], [PromoCode], [ExpiryDate], [CreatedAt]) VALUES (2, 12, N'EarlyBird', N'Discouted Pool', N'20%', CAST(N'2026-06-11T14:30:06.513' AS DateTime), CAST(N'2026-05-11T14:30:44.260' AS DateTime))
INSERT [dbo].[Promotions] ([Id], [OrganizationId], [Title], [Description], [PromoCode], [ExpiryDate], [CreatedAt]) VALUES (3, 12, N'Room Rate', N'Room Rate Promo', N'Save20', CAST(N'2026-06-11T15:04:12.300' AS DateTime), CAST(N'2026-05-11T15:04:49.880' AS DateTime))
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([Id], [OrganizationId], [TenantId], [FacilityName], [ReservationDate], [Status], [CreatedAt]) VALUES (3, 12, 2, N'Swimming Pool', CAST(N'2026-05-12T17:14:37.737' AS DateTime), N'PENDING', CAST(N'2026-05-11T17:14:42.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemReports] ON 

INSERT [dbo].[SystemReports] ([Id], [OrganizationId], [ReportName], [Category], [CreatedAt]) VALUES (2, 12, N'FINANCIAL Report - May 11', N'FINANCIAL', CAST(N'2026-05-11T15:01:05.483' AS DateTime))
INSERT [dbo].[SystemReports] ([Id], [OrganizationId], [ReportName], [Category], [CreatedAt]) VALUES (3, 12, N'Second Report', N'MAINTENANCE', CAST(N'2026-05-11T15:03:22.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[SystemReports] OFF
GO
INSERT [dbo].[SystemUpdates] ([PlanType], [ModuleName], [IsEnabled]) VALUES (N'BASIC', N'Announcements', 1)
INSERT [dbo].[SystemUpdates] ([PlanType], [ModuleName], [IsEnabled]) VALUES (N'BASIC', N'Billing', 1)
INSERT [dbo].[SystemUpdates] ([PlanType], [ModuleName], [IsEnabled]) VALUES (N'BASIC', N'Dashboard', 1)
GO
SET IDENTITY_INSERT [dbo].[Tenants] ON 

INSERT [dbo].[Tenants] ([Id], [OrganizationId], [FullName], [Email], [PhoneNumber], [UnitNumber], [Status], [CreatedAt], [Password], [ProfilePicture]) VALUES (4, 12, N'carlo', N'carlo@gmail.com', N'12345678910', N'302', N'Active', CAST(N'2026-05-11T15:27:53.620' AS DateTime), N'Tenant123', NULL)
SET IDENTITY_INSERT [dbo].[Tenants] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Login__536C85E4AB1CEF9C]    Script Date: 5/20/2026 8:28:43 AM ******/
ALTER TABLE [dbo].[Login] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Login__A9D10534A72A9751]    Script Date: 5/20/2026 8:28:43 AM ******/
ALTER TABLE [dbo].[Login] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT ((0)) FOR [IsUrgent]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Billings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Login] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Login] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MaintenanceRequests] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[MaintenanceRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Organizations] ADD  DEFAULT ((0)) FOR [MaxResidents]
GO
ALTER TABLE [dbo].[Organizations] ADD  DEFAULT ((0)) FOR [MaxStaff]
GO
ALTER TABLE [dbo].[Organizations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PlanUpgradeRequests] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[PlanUpgradeRequests] ADD  DEFAULT (getdate()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SystemReports] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SystemUpdates] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Tenants] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Tenants] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tenants] ADD  DEFAULT ('Tenant123') FOR [Password]
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD  CONSTRAINT [FK_Ann_Org] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([OrganizationId])
GO
ALTER TABLE [dbo].[Announcements] CHECK CONSTRAINT [FK_Ann_Org]
GO
ALTER TABLE [dbo].[Billings]  WITH CHECK ADD  CONSTRAINT [FK_Bil_Org] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([OrganizationId])
GO
ALTER TABLE [dbo].[Billings] CHECK CONSTRAINT [FK_Bil_Org]
GO
ALTER TABLE [dbo].[Billings]  WITH CHECK ADD  CONSTRAINT [FK_Bil_Ten] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[Billings] CHECK CONSTRAINT [FK_Bil_Ten]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feed_Org] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([OrganizationId])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feed_Org]
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD  CONSTRAINT [FK_Log_Org] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([OrganizationId])
GO
ALTER TABLE [dbo].[Login] CHECK CONSTRAINT [FK_Log_Org]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_Main_Org] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([OrganizationId])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_Main_Org]
GO
ALTER TABLE [dbo].[MaintenanceRequests]  WITH CHECK ADD  CONSTRAINT [FK_Main_Ten] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[MaintenanceRequests] CHECK CONSTRAINT [FK_Main_Ten]
GO
ALTER TABLE [dbo].[PlanUpgradeRequests]  WITH CHECK ADD  CONSTRAINT [FK_Up_Org] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([OrganizationId])
GO
ALTER TABLE [dbo].[PlanUpgradeRequests] CHECK CONSTRAINT [FK_Up_Org]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [FK_Prom_Org] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([OrganizationId])
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [FK_Prom_Org]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Res_Org] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([OrganizationId])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Res_Org]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Res_Ten] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenants] ([Id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Res_Ten]
GO
ALTER TABLE [dbo].[SystemReports]  WITH CHECK ADD  CONSTRAINT [FK_Rep_Org] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([OrganizationId])
GO
ALTER TABLE [dbo].[SystemReports] CHECK CONSTRAINT [FK_Rep_Org]
GO
ALTER TABLE [dbo].[Tenants]  WITH CHECK ADD  CONSTRAINT [FK_Ten_Org] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([OrganizationId])
GO
ALTER TABLE [dbo].[Tenants] CHECK CONSTRAINT [FK_Ten_Org]
GO
